.top-nav div img{
    width: 100px;
    margin: .5rem;
}

section{
    padding: 2rem;
}

nav{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

.nav-list{
    width: 100%;
}

li{
    list-style: none;
    padding: 0 .5rem;
}

.nav-list{
    justify-content: space-between;
}

.jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
    color: white;
    margin-top: 83.6px;
}

.it-two{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    position: top;
    color: white;
}

.np{
    padding: 0;
}

.my-bg-blue{
    background-color: rgb(22, 28, 59);
}

